PORT=3000 # Many web app hosts do the port work themselves, so you may remove this
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1 # Your Appwrite endpoint
APPWRITE_PROJECT_ID=6800a2680008a # Your Appwrite Project ID
APPWRITE_API_KEY=ur-api-key
APPWRITE_DATABASE_ID=ur-db-id

# Firebase. Useless atm.

SERVICEACCOUNT=ur-firebase-adminsdk-serviceaccount-filepath.json

GEMINI_API_KEY_PRIMARY=ur-gemini-key
# GEMINI_API_KEY_FAILSAFE=extra-gemini-key-incase-one-reaches-its-limit

# Collection IDs (must be created in Appwrite)
PROFILES_COLLECTION_ID=682b517c00313d768 # e.g. profiles
TASKS_COLLECTION_ID=682b53260033d510     # e.g. tasks
STUDY_PLAN_COLLECTION_ID=687249da001d95  # e.g. study_plan
HABIT_COLLECTION_ID=687249da001d95       # e.g. habits
BAD_HABITS_COLLECTION_ID=badhabits       # bad habits table/collection id (defaults to 'badhabits')